***************************************************************
*                                                             *
* AUTONETSEC: Elevating Network and Security Operations       *
* through Automation with Ansible                             *
*                                                             * 
* WARNING: Unauthorized access to this system is strictly     *
* prohibited and may lead to disciplinary or legal action.    *
* 							      *
* All activity is monitored and recorded.                     *
*                                                             *
* Device: {{inventory_hostname | upper}}                      *
* Managed by: Tanyinso Bright (Network Engineer)              *
* Date: {{ansible_date_time.date}}                            *
*                                                             *
***************************************************************
